# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.netlify/
netlify/

# Vite cache
.vite/

# Logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Env files (never commit secrets!)
.env
.env.*
netlify/
.env.local
